/* table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
tbody:nth-child(even) {
    background-color: rgb(218, 218, 218);
}
th {
    background-color: rgb(78, 78, 255);
    color: rgb(0, 0, 0);
}
th, td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
} */

td, th {
    text-align: center;
}

.store, .city {
    text-align: left;
}

.counts th {
    text-align: left;
}